//color
$primary-color: #89023E;
$secondary-color: #30343f;
$background-color: white;

// font
$basic-font-size: 19px;
$font-size-table: 20px;

//button
$button-width: 10vw;
$button-height: 5vh;
$button-border-radius: 15px;
$detail-button-width: 260px;

//table
$space-between-table-data: 20px;
$table-border-style: 1px solid $secondary-color;
