@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";


.shopping-cart-header {
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 5%;
    align-items: center;

    h1 {
        @include basic-title;
    }

    &__buttons {
        display: flex;

        button {
            margin: 0 1vw 0;
            @include basic-button($primary-color);

        }
    }

}


.product-list-wrapper {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;

    .product-list {
        width: 80%;
        min-width: 600px;
        border: $table-border-style;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: $font-size-table;
        color: $secondary-color;

        &__header,
        &__single-product {
            display: flex;
            justify-content: space-between;
            border: $table-border-style;
            padding: 0 3% 0;

            td,
            th {
                width: 100%;
                padding: $space-between-table-data;
                text-align: start;
            }

            button {
                width: $detail-button-width;
                border-style: none;
                color: $primary-color;
                font-size: calc($font-size-table + 10px);

                &:hover {
                    color: $secondary-color;
                    font-weight: bold;
                }
            }

            #detail-button-header {
                width: calc($detail-button-width - 100px);
            }
        }
    }
}