<div class="product-details-wrapper">
    <div class="product-details-header">
        <h1>{{product.name}}</h1>
        <div class="product-details-header__buttons">
            <button *ngIf="isAdmin==='yes'" [routerLink]="['/edit/',product.id]">Edit</button>
            <button *ngIf="isAdmin==='yes'" (click)="deleteProduct()" [routerLink]="['']">Delete</button>
        </div>
    </div>
    <div class="product-details-data">
        <div class="product-details-data__text">
            <div>
                <p>Category</p>
                <p>{{product.category}}</p>
            </div>
            <div>
                <p>Price</p>
                <p>{{product.price}} €</p>
            </div>
            <div>
                <p>Description</p>
                <p>{{product.description}}</p>
            </div>
        </div>
        <img src={{product.image}}>
    </div>
</div>